/* * {
  margin: 0;
  padding: 0;
} */

html, 
body {
 height: 100%;
}

body {
    background: #002560;
    background: linear-gradient(to bottom right, #002560, #0c182b);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: white;
}

.flex-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.row {
  
}

.flex-item {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}